<% content_for :title, "Colaborações" %>

<%= form_tag '/colab/index', data: { turbo: false } do %>

	<%= label_tag( :term, "Search for:" ) %>

	<%= text_field_tag(:term) %>

	<%= submit_tag("Search") %>

<% end %>

<section>
	<h2>Resultados:</h2>

	<nav>
		<% for result in @search_results %>
			<p> <%= link_to result.path, "/colab/#{result.path}" %> <p>
		<% end %>
	</nav>
</section>
