<%= stylesheet_link_tag "note" %>

<% if File.directory?(@real_path) %>
	<% content_for :title, "Navegador" %>

	<nav>
		<% for entry in Dir.entries(@real_path)[2..] %>
			<p><%= link_to entry, @relative_path+'/'+entry %></p>
		<% end %>
	</nav>
<% else %>
	<% content_for :title, @toml["title"] %>

	<%= render inline: `pandoc "#{@real_path}" -t html --section-divs`%>

	<p>Autores:</p>
	<ul>
		<% for contributor in @contributors %>
			<li><p><%= contributor %></p></li>
		<% end %>
	</ul>

	<p>Tags:</p>
	<ul>
		<% for page_tag in @tags %>
			<li><p><%= page_tag %></p></li>
		<% end %>
	</ul>
<% end %>
