<section>
	<h1>TonTon</h1>

	<nav>
		<%= link_to "Grupo", group_path %>
		<% if authenticated? %>
			<%= link_to "Gerenciamento de repositório", repository_path %>
			<%= button_to "Sair", session_path, method: :delete %>
		<% else %>
			<%= link_to "Entrar", session_path + "/new", method: :get %>
		<% end %>
	</nav>

	<%=
		render inline: Kramdown::Document.new(File.read(Rails.root + "README.md")).to_html
	%>
</section>
